.world{
	vertical-align: center;
	margin-bottom:-20px;
	svg path{
		stroke:#3c3c3c;
		fill:#1b1b1b;
		/* fill:blue; */
		transition: all 0.3s ease;
		&.isVisited{
			fill:$grey3;
		}
		&.isBooked{
			fill:$grey2;
		}	
	}	
	/* &:hover{
		svg{
			background:darkBlue;
		}
		svg path{
		color:red;
		stroke:$grey3;
		fill:$white;
		fill:blue;
		transition: all 0.3s ease;
		&.isVisited{
			fill:green;
		}
		&.isBooked{
			fill:$black;
		}	
	}	 */
	/* } */
}

.world svg{
background:#000000;
}

