/*p,h1,h2,h3,h4,h5,h6{
	font-family: Raleway;
}*/
audio{
	position: fixed;
	top:0;
	left:0;
	z-index: -1000000;
	opacity: 0;
	touch-events:none;
}
.subNavGrad{
	width:100%;
	height:20px;
	position: fixed;
	left:0;
	top:50px;
	background: linear-gradient(
	to bottom,
	rgba(255,255,255,1),
	rgba(255,255,255,0)
	);
}
.navBarContainer{
	p{
		transition:all 0.3s ease;
		color:$white;
	}
	max-width:100vw;
	.barsContainer{
		transition:all 0.3s ease;
		opacity:0;
		&.canPlay{
			opacity:1;
		}
	}
	position: fixed;
	top:0;
	left:0;
	right:0;
	padding:0 20px;
	z-index: 100000000000;
	box-sizing: border-box;
	width:100%;
	height:50px;
	background:$black;
	display: flex;
	align-items: center;
	flex-direction: row;
	z-index: 1000000000000;





	.nameContainer{
		.surprises{
			span{
				opacity:0;
			}
			font-famiy:Playfair Display!important;
			padding-left:60px;
			z-index: 10000000;
			position: absolute;
			bottom:0;
			left:0;
			padding-right:10px;
			
			opacity:0;
			overflow: hidden;
			pointer-events:none;
			z-index: 100000;
			color:$white;

			margin:0;
			line-height: 50px;
		}
		position: absolute;
		top:0;
		right:0px;
		box-sizing: border-box;
		height:100%;
		width:100%;
		align-items: center;
		justify-content: flex-end;
		display: flex;
		flex-direction: row;
		.nameBackground{
			right:0;
			bottom:0;
			position: absolute;
			width:0%;
			z-index: 1;
			height:2px;
			background:$black;
			pointer-events:none;
		}
		.nameContentContainer{
			z-index: 2;
			position: absolute;
			right:60px;
			top:0;
			height:100%;
			cursor: pointer;
			.name{
				
				margin-right:5px;
				transition: all 0.1s ease 0.3s;
				text-align: right;
			}
			display: flex;
			flex-direction: row;
			align-items: center;
			&:hover{

				.animatedBarsContainer{
					height:20px;
					
					.bar:nth-child(1) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)0.8s;
					   
					   width:15px;
					}
					.bar:nth-child(2) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)1.1s;
					  
					    width:15px;
					}
					.bar:nth-child(3) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)1.4s;
					   
					    width:15px;
					}
					.bar:nth-child(4) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)1.7s;
					   
					    width:15px;
					}
					.bar:nth-child(5) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)2s;
					   
					    width:15px;
					}
					.bar:nth-child(6) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)2.3s;
					   
					    width:15px;
					}
					.bar:nth-child(7) {
						transition:all 0.3s cubic-bezier(.82,.16,.16,.54)2.6s;
					   
					    width:15px;
					}
				}
				.bar{
					height:200%;
				}
				.name{
					transition: none;
					
					opacity:0;
				}
				
				+ div{
					.surprises{
						font-size:16px;
						span:nth-child(1){
							transition: opacity 0.3s cubic-bezier(.82,.16,.16,.54) 3.0s;
							opacity:1;
						}
						span:nth-child(2){
							transition: opacity 0.3s cubic-bezier(.82,.16,.16,.54) 3.3s;
							opacity:1;
						}
						span:nth-child(3){
							transition: opacity 0.3s cubic-bezier(.82,.16,.16,.54) 3.3s;
							opacity:1;
						}
						font-famiy:Playfair Display;
						text-transform:none;
						transition: width 0.3s cubic-bezier(.82,.16,.16,.54) 2.7s, opacity 0.2s cubic-bezier(.82,.16,.16,.54) 2.8s;
						width:auto;

						z-index: 100000000;
						/* opacity:0.5; */
					}
					width:100%;
					height:100%;
					transition:width 0.3s cubic-bezier(.82,.16,.16,.54), height 0.3s linear 2.4s;
					/* background:$grey1; */
				}
			}
		}
	}
	.linkContainer{
		.link{
		
			position: relative;
			display: inline-block;
			text-transform: uppercase;
			font-weight: light!important;
			text-decoration: none;
			
			.linkText{
				font-size:16px;
				color:$white;
				
				margin:0;
				padding:22px 40px;
			}
			.underline{
				transition: height 0.3s cubic-bezier(.82,.16,.16,.54);
				z-index: -1;
				height:5px;
				width:0%;
				background:$grey2;
				position: absolute;
				bottom:0;
				left:0;	
			}
			
			&:hover, &:active{
				.linkText{
					opacity:1;
					color:$white;
					transition: all 0.3s cubic-bezier(.82,.16,.16,.54) 0.25s;
				}
				.underline{
					transition: width 0.2s cubic-bezier(.82,.16,.16,.54), height 0.2s cubic-bezier(.82,.16,.16,.54) 0.2s;
					width:100%;
					height:100%;
				}
			}
			
		}
	}
/* 	h3{
		
		font-size:16px;
		text-transform: uppercase
	} */
}

@media screen and (max-width: 600px){
	.navBarContainer{
		padding:0;
		
		.nameContainer{
			.surprises{
				padding-left:20px;
			}
			.nameContentContainer{

				span{
					display:none;
				}
				right:20px;
			}
		}
		.linkContainer{
			.link{
				.linkText{
					max-width: 50px;
					padding:22px 20px;
				}
			}
		}
	}
}


@media screen and (max-width: 450px){
	.fitSquareContainer{
		background: blue;
	}
	.navBarContainer{
		padding:0;
		.nameContainer{
			.surprises{
				padding-left:10px;
			}
			.nameContentContainer{
				right:10px;
				span{
				display:none;
			}
			}
		}
		.linkContainer{
			.link{
				.linkText{
					max-width: 50px;
					padding:22px 10px;
				}
			}
		}
	}
}