.activityTypeContainer{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	color:$white;
	/* font-weight: bold; */
	div{
		height:100%;
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:hover{
			background:$grey3;
		}
	}
	.light{
		font-weight:light!important;
	}
	.activityIcon{
		margin-bottom:20px;
		height:60px;
		width:auto;
	}
}