.googleMapsContainer{
	position: relative;
	height:70vh;
	margin-bottom:-100px;
	/* z-index: 1; */
}

.mapLoader{
	transition:all 0.3s ease;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:$grey1;
	&.isLoaded{
		opacity:0;
	}
}

#homeContainer{
	padding-bottom: 1000000px;
}